/* Copyright, Daniel Wadman, All rights reserved. */

/*
    General Styles
*/

$green: rgb(0, 128, 128);
$yellow: #F7B501;
$red: #6C1E20;
$purple: #5f006b;

@mixin center-contacts {
    white-space: break-spaces;
    display: flex;
    text-align: center;
    font-size: 2rem;
}

@mixin for-mobile {
    @media (max-width: 1200px) { @content; }
}

html {
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 16px !important;
    word-break: break-word;
}

body {
    height: 100%;
    background-color: #f8f8f8;
    color: #000000 !important;
    font-family: 'Maven Pro', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    padding: 0.5rem;
}

h1 {
    font-size: 3rem;

    @include for-mobile {    
        font-size: 2rem; 
     }
}

h2 {
    font-size: 2rem;

    @include for-mobile {    
        font-size: 1rem; 
     }
}

.logo {
    width: 265px;
}

#contact {
    background-color: #14002b;
    border-radius: 25px;
    color: #ffffff;
}

.contact-text {
    position: absolute;
    background-color: #ececec;;
    border-bottom-right-radius: 95px;
}

#contact a {
    color: #ffffff !important;

    @include center-contacts;

    @include for-mobile {    
        font-size: 1rem; 
     }
}


#about {
    background-color: $green;
    color: #ffffff;
    position: relative;
    padding-bottom: 200px;
    border-radius: 25px;
}

.about-text {
    position: absolute;
    background-color: cadetblue;
    border-bottom-right-radius: 95px;
}

#find-parks {
    border: 15px solid $purple;
    color: #000000;
    position: relative;
    padding-bottom: 200px;
    border-radius: 25px;
    max-height: 700px;
    overflow: hidden;
}

.find-park-text {
    position: absolute;
    background-color: cadetblue;
    border-bottom-right-radius: 95px;
}

.development-box {
    border: 2px solid $yellow !important;
}

.design-box {
    border: 2px solid $red !important;
}

.accessibility-box {
    border: 2px solid $green !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

#page-content-wrapper {
    min-height: calc(100vh - 205px);
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-left: 0px;
    background: #f8f8f8;
}

.img-container {
    height: 100px;
    width: 100px;
    background-size: cover !important;
    background-position: center center !important;
    float: left;
    border-radius: 25px;
}

.golden {
    background: url(../img/philippe-d-uxnWliBKBkg-unsplash.jpg);
}

.wcag {
    background: url(../img/sigmund-HE1zW44Zm_Y-unsplash.jpg);
}

.unified {
    background: url(../img/jj-ying-7JX0-bfiuxQ-unsplash.jpg);
}

.checkout {
    background: url(../img/adrien-delforge-CrHG_ZYn1Dw-unsplash.jpg);
}

.login {
    background: url(../img/kelly-sikkema-io0ZLYbu31s-unsplash.jpg);
}

.vue {
    background: url(../img/rahul-mishra-mZRCMPbJSPc-unsplash.jpg);
}

.marketing {
    background: url(../img/2020_careers.jpg);
}

.tso {
    background: url(../img/tso-home.jpg);
}

.cpd {
    background: url(../img/new-site.jpg);
}

.slider {
    background: url(../img/slider-example.jpg);
}

.img-container-large {
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 50px;
    background-size: cover !important;
    background-position: center center !important;
    filter: saturate(0.5);
    background: url(../img/me-cut-out.jpg);
}

.panel {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0px 30px #dedede;
    box-shadow: 0 0px 30px #dedede;
    padding: 1.5rem;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.5s;
}

.panel-low-drop {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0px 2px #dedede;
    box-shadow: 0 0px 2px #dedede;
    padding: 1.5rem;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.5s;
}

.title {
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    font-weight: 400;

    @include for-mobile {    
        font-size: 1rem; 
     }
}

.title-black {
    font-size: 1rem;
    color: #000000;
    text-align: left;
    font-weight: 400;

    @include for-mobile {    
        font-size: 1rem; 
     }
}

.divider {
    width: 55px;
    height: 4px;
    background: #f99d29;
    margin: 0 auto;
}

.divider-white {
    width: 55px;
    height: 4px;
    background: #ffffff;
    margin: 0 auto;
}

.fa-github,
.fa-at,
.fa-file-pdf,
.fa-file-word {
    color: #0071EB;
}

.modal.modal-fullscreen .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    height: 100vh;
    border-radius: 0;
    border: none;
}

.modal.modal-fullscreen .modal-body {
    overflow-y: auto;
    color: #000000;
}

.hero-me {
    background-size: contain !important;
    height: 375px;
    background-repeat: no-repeat !important;
    background-image: url(../img/hero-me-2.jpg);

    @include for-mobile {    
        height: 275px;
        background-position-x: center;
     }
}

.hero {
    margin-top:-475px;
    height: 100%;
    display: flex;
}

.list-style-type-none {
    list-style-type: none;
}

.img-border {
    border: 1px solid lightgrey;
}

.text-small {
    font-size: 1rem; 
}

.text-black {
    color: #000000;
}