/*
    Link Styles
*/

$green: #008080;
$yellow: #F7B501;
$red: #6C1E20;

a {
    color: #0067d6;
}

a:focus-visible {
    color: #0067d6;
    outline: 2px solid #00818F;
}

a:hover {
    color: #0067d6 !important;
    text-decoration: underline;
}

.hero a {
    color: #000000;
}

#contact a:focus-visible,
#backtotop:focus-visible {
    color: #0067d6;
    outline: 2px solid #ffffff;
}

#backtotop:focus-visible {
    color: #ffffff;
    outline: 2px solid #ffffff;
}

.btn {
    border-radius: 3px !important;
    height: 3rem;
    font-size: 1rem !important;
}

.btn-primary {
    background-color: #06abbe;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus-visible {
    background-color: #005660;
    color: #ffffff;
}

.btn-primary:focus-visible {
    outline: 2px solid $green;
}

.btn-secondary {
    background-color: #E3E4E5;
    color: #000000;
}

.btn-secondary:hover,
.btn-secondary:focus-visible {
    background-color: #cacaca;
    color: #000000;
}

.btn-secondary:focus-visible {
    outline: 2px solid $green;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNoneIE {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.development-box, .design-box, .accessibility-box {
    position: relative;
    transition: all 0.2s ease;
}

a:focus-within {
    border: 2px solid gray;
}

.development-box:before, .design-box:before, .accessibility-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.development-box svg, .design-box svg, .accessibility-box svg {
    position: relative;
    top: 0px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 3;
    transform: translateX(0);
    transition: all 0.1s ease;
    visibility: hidden;
}

.development-box:hover:before {
    width: 100%;
    background: $yellow;
    cursor: pointer;
}

.fa-code {
    color: $yellow;
}

.design-box:hover:before {
    width: 100%;
    background: $red;
    cursor: pointer;
}

.fa-palette {
    color: $red;
}

.accessibility-box:hover:before {
    width: 100%;
    background: $green;
    cursor: pointer;
}

.fa-universal-access {
    color: $green;
}

.development-box:hover svg, .design-box:hover svg, .accessibility-box:hover svg {
    visibility: visible;
    transform: translateX(0);
    animation-duration: 0.5s;
    animation-name: fadeInFromNone;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInFromNone;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: fadeInFromNoneIE;
    -ms-animation-fill-mode: forwards;
}

.development-box:active, .design-box:active, .accessibility-box:active {
    transform: scale(0.96);
}

.development-box:hover h2 {
    transition: all 0.4s ease;
    transform: translateX(-10px);
    display: inline-block;
    color: #000000;
    cursor: pointer;
}

.design-box:hover h2, .accessibility-box:hover h2 {
    transition: all 0.4s ease;
    transform: translateX(-10px);
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
}